http://24.199.127.101 {
  root * /root/UPTP_chess_club
  encode gzip

  handle /api/* {
    reverse_proxy 127.0.0.1:3000
  }

  handle {
    try_files {path} /index.html
    file_server
  }
}

24.199.127.101.sslip.io, 24.199.127.101.nip.io {
  root * /root/UPTP_chess_club
  encode gzip

  handle /api/* {
    reverse_proxy 127.0.0.1:3000
  }

  handle {
    try_files {path} /index.html
    file_server
  }
}
