http://24.199.127.101 {
  root * /var/www/uptp_chess_club
  encode gzip

  handle /api/* {
    reverse_proxy 127.0.0.1:3000
  }

  handle {
    try_files {path} /index.html
    file_server
  }
}

chess.24-199-127-101.qip.sh {
  root * /var/www/uptp_chess_club
  encode gzip

  handle /api/* {
    reverse_proxy 127.0.0.1:3000
  }

  handle {
    try_files {path} /index.html
    file_server
  }
}
